Flask
blueprint
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
fstring==1.7.4
idna==3.8
pycparser==2.22
pyodbc==5.1.0
requests==2.32.3
stripe==10.11.0
typing_extensions==4.12.2
urllib3==2.2.3
gunicorn
