<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ana Sayfa</title>
    </head>
    <body>
        <form id="dataForm" action="/Const" method="POST" style="display:none;">
            <input type="hidden" name="Const" id="sessionIdInput">
        </form>

        <script>
        document.addEventListener('DOMContentLoaded', function() {
            const data = localStorage.getItem('Const');
            document.getElementById('sessionIdInput').value = data;
            document.getElementById('dataForm').submit(); 
        });
    </script>
    </body>
</html>
